/*Общие теги*/
* {
    margin: 0;
    padding: 0;
    outline-style: none;
}

.button {
    background: url("/import/i/button.gif") no-repeat;
    height: 20px;
    font-family: MCard;
    color: #e7d499;
    border: none;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 2px;
    font-size: 1em;
    display: inline-block;
}

.button:hover {
    text-shadow: 0 0 6px #e7d499;
    text-decoration: none;
}

div.submit:after {
    content: '.'; /* Добавляемый текст */
    color: #333; /* Цвет текста */
    background: url("/import/i/button.gif");
    background-position: 4px 0;
    font-size: 90%; /* Размер шрифта */
    display: inline-block;
    margin-left: -4px;
    height: 20px;
    width: 4px;
}

.menu a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 1.3em;
}

input, textarea, .items .post img {
    border: 1px solid #D7CEA4;
}

a.gallery_image {
    display: block;
    border: 1px solid #D7CEA4;
    width: 170px;
    height: 130px;
    text-align: center;
    position: relative;
    float: left;
}

a.gallery_image img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table {
    border: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    color: #ccc;
    background: url("/import/i/4.gif");
}

form {
    margin-top: 10px;
}

a {
    color: #e7d499;
}

a img {
    border: none;
}

a:hover {
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
}

/*\Общие теги*/
/*Общие классы*/
.cl {
    clear: left;
}

.cr {
    clear: right;
}

.ca {
    clear: both;
}

h1, h2, h3, h4, h5 {
    font-family: MCard;
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 4em;
}

h2 {
    padding-top: 15px;
    font-size: 3em;
}

h3 {
    padding-top: 9px;
    font-size: 2em;
}

h4 {
    padding-top: 5px;
    font-size: 1.5em;
    font-weight: lighter;
}

h5 {
    padding-top: 3px;
    font-size: 1.1em;
    font-weight: lighter;
}

h4, h5 a {
    text-decoration: none;
}

hr {
    border-color: #e7d499;
}

#index .hortable li {
    display: table-cell;
    text-align: center;
    white-space: normal;
    vertical-align: top;
    background: none;
    padding: 0px;
    margin: 0px;
}

#index .hortable li.first {
    text-align: left;
}

#index .hortable li.last {
    text-align: right;
}

#index .hortable li a {
    display: block;
    display: inline-block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1281px) {
    .main-width {
        max-width: 1300px;
    }
    a.gallery_image{
        margin: 5px 6px;
    }
}

@media screen and (max-width: 1280px) {
    .main-width {
        max-width: 970px;
    }
    a.gallery_image{
        margin: 5px 11px;
    }
}

.wrp {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

/*\Общие классы*/
/*структура*/
#index {
    min-height: 100%;
    position: absolute;
    height: auto;
    min-width: 970px;
    width: 100%;
    overflow: hidden
}

#index-top {
    display: block;
    width: 100%;
    padding-bottom: 50px; /*высота футера с учетом наезда-отступа*/
    min-height: 0px; /*Минимальная высота контента*/
}

#maxwidther,
#footwidther {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

#maxwidther {
    overflow: hidden;
}

#foot {
    position: absolute;
    display: block;
    bottom: 0px;
    height: 50px; /*высота футера*/
    width: 100%;
}

#footwidther {
    text-align: center;
    font-family: MCard;
    color: #e7d499;
    font-size: 1.3em;
}

#foot a {
    color: #e7d499;
}

#sidebar-underlayer {
    width: 150px;
}

#content-underlayer {
    margin-left: 150px; /*отступ на ширину сайдбара*/
    width: 100%
}

#main-underlayer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 50px;
    top: 140px;
}

#sidebar-underlayer,
#content-underlayer,
.bg80 {
    background: url("/import/i/op80.png");
}

#bgnone {
    background: none;
}

#header {
    height: 140px;
    position: relative;
}

#container {
    float: right;
    margin-right: -150px;
    width: 100%;
    height: 100%;
}

#sidebar {
    float: left;
    width: 130px;
    height: 100%;
    padding: 28px 10px 10px 10px;
    position: relative;
}

#container #content {
    margin-right: 150px;
}

#content {
    padding: 28px 20px 20px 20px;
    font-family: Trebuchet MS;
    color: #D7CEA4;
    line-height: 19px;
    text-align: justify;
}

#mainmenu, .lang {
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: MCard;
}

#mainmenu ul {
    display: flex;
}

#mainmenu ul li {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: inline-block;
    padding: 0 35px;
}

#mainmenu ul li:first-of-type {
    padding-left: 0px;
}

#mainmenu ul li:last-of-type {
    padding-right: 0px;
}

#mainmenu ul li a, .lang a {
    text-decoration: none;
    font-size: 1.8em;
    color: #e7d499;
    text-shadow: 0 0 6px #000;
}

#mainmenu ul li a:hover, a:hover {
    text-shadow: 0 0 6px #e7d499;
    text-decoration: none;
}

#mainmenu ul li.active a {
    text-shadow: 0 0 6px #ffd369;
    color: #ffd369;
}

#header .logo {
    display: block;
}

.block-name {
    margin-top: -24px;
    margin-bottom: 10px;
    top: 0;
    max-width: 80px;
    height: 20px;
    text-align: center;
    background: #000;
    font-family: MCard;
    font-size: 1.3em;
    color: #e7d499;
}

.top .block-name {
    margin-top: 4px;
}

.post {
    border: 1px solid #D7CEA4;
    margin: 10px 0;
    padding: 2px 5px;
}

.nav {
    font-size: 0.8em;
    margin-top: 10px;
}

.date {
    display: inline-block;
}

.more {
    float: right;
}

.lang {
    position: absolute;
    right: 10px;
    top: 10px;
}

.lang a {
    font-size: 1em;
}

.row {
    margin-bottom: 10px;
}

.row label {
    position: absolute;
}

.row input, .row textarea, .row div {
    margin-left: 120px;
}

.row img, .row a {
    display: block;
}

.row div input {
    margin-left: 0px;
}

/*\структура*/

.errorSummary {
    color: red;
    padding-left: 20px;
}

/*Шапка*/
/*\Шапка*/

/*Рамка*/

.border {
    position: absolute;
}

.right,
.left {
    background-image: url("/import/i/body_sidebar.gif");
    height: 100%;
    width: 8px;
}

.left {
    background-position: 0px 0px;
    left: 0px;
}

.right {
    background-position: 8px 0px;
    right: 0px;
}

.top {
    height: 28px;
    width: 100%;
    top: 0px;
    background: url("/import/i/top-tile-sidebar.gif") repeat-x;
}

.top.left {
    height: 28px;
    width: 28px;
    background-image: url("/import/i/top_sidebar.gif");
    background-position: 0px 0px;
    z-index: 10;
}

.top.right {
    height: 28px;
    width: 28px;
    background-image: url("/import/i/top_sidebar.gif");
    background-position: 28px 0px;
    z-index: 10;
}

.bottom {
    height: 8px;
    width: 100%;
    bottom: 0px;
    background: url("/import/i/bottom.gif") repeat-x;
}

.bottom.left {
    width: 8px;
    background-image: url("/import/i/sidebar_bottom.gif");
    background-position: 0px 0px;
    z-index: 10;
}

.bottom.right {
    width: 8px;
    background-image: url("/import/i/sidebar_bottom.gif");
    background-position: 8px 0px;
    z-index: 10;
}

#sidebar-underlayer .left {
    left: 0px;
}

#sidebar-underlayer .right {
    left: 142px;
}

#sidebar-underlayer .bottom.left {
    left: 0px;
    bottom: 0px;
}

#sidebar-underlayer .bottom.right {
    left: 142px;
    bottom: 0px;
}

#sidebar-underlayer .top.left {
    top: 0px;
}

#sidebar-underlayer .top.right {
    left: 122px;
    top: 0px;
}

#content-underlayer .left {
    left: 150px;
}

#content-underlayer .right {
    right: 0px;
}

#content-underlayer .bottom.left {
    left: 150px;
    bottom: 0px;
}

#content-underlayer .bottom.right {
    right: 0px;
    bottom: 0px;
}

#content-underlayer .top.left {
    top: 0px;
}

#content-underlayer .top.right {
    top: 0px;
}

#sidebar.windowed {
    padding: 0px;
    width: 146px;
}

.window {
    min-height: 50px;
    position: relative;
    font-family: MCard;
    font-size: 1em;
}

span.tag {
    padding: 2px;
}

.window-content {
    padding: 28px 10px 10px 10px;
}

/*\Рамка*/
/*Основной блок*/
.gallery {
    border: 1px solid #D7CEA4;
    margin: 10px 10px;
    padding: 2px 5px;
    float: left;
}

/*\Основной блок*/
/*Подвал*/
/*\Подвал*/